{% extends 'base.html.twig' %}

{% block title %}New Projects{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn" type="submit">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    <a href="{{ path('app_app') }}">back to list</a>
{% endblock %}
